page-home {
.background {
    background-image: url('../assets/imgs/ciudad.jpg');
}

.nombre{
    box-shadow:none;
    background: rgba(0,0,0,0.2);
}


.item{
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.5);
    border:medium none;
}

.text-input,{
    color:rgba(8, 8, 8, 0.945);
}

*:-moz-placeholder{
    color: #fff!important;
}

input::-moz-placeholder{
    color:#000!important;
}
}
